/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
data_crawler
/public/playlist
/public/files
/public/storage
/public/sitemap
/public/sitemap.xml
/public/main-sitemap.xsl